@font-face {

    src: url("/Fonts/SourceSansPro-Regular.otf");
    font-family: "SourceSansPro";
}

@font-face {

    src: url("/Fonts/FreckleFace-Regular.ttf");
    font-family: "FreckleFace";
}

body {
    margin: 0;
    padding: 0;
    font-family: "SourceSansPro";
    /* background-color: #143477; */
}


header {
    background-color: #ffffff;

}





.Gap-Between {
    width: 100%;
    /* border: 2px solid #04AA6D; */
    display: flex;
    justify-content: space-between;
    gap: 4rem;

    margin-right: 2%;
}

.Gap-Between-2 {
    width: 100%;
    /* border: 2px solid #04AA6D; */
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    margin-left: 2%;
}

.main-nav {
    height: 75px;
    /* margin: 0% 0%; */
    /* border: 2px solid whitesmoke; */
}



.main-nav .fa {
    display: none;
}

/* .fa-Icon .fa {
    color: rgb(0, 0, 0);
    display: inline-block;
    border: 2px solid whitesmoke;
    font-size: 22px;
} */

nav img {
    width: 45px;
    height: 45px;
    padding: 14px;
    position: absolute;
    /* margin: 8px 15px ; */
    /* top: 5px;*/
    left: 20px;
    /* border: 2px solid whitesmoke; */

}

nav img:hover {
    opacity: 0.8;
    cursor: pointer;
}

.navlinks {
    list-style: none;
    float: left;
    margin-left: 3.7%;
    padding: 0;
    /* border: 2px solid whitesmoke; */
}

.navlinks li {
    display: inline-block;
    margin: 10px -4px;
    cursor: pointer;
    text-decoration: none;
    /* border: 2px solid whitesmoke; */
}

.navlinks li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding: 27px 20px;
    /* border: 2px solid whitesmoke; */
}

.navlinks li a:hover {
    color: rgb(255, 255, 255);
    background-color: #04AA6D;
    font-weight: bold;
}


.navlinks-2 {
    list-style: none;
    float: right;
    margin-right: 2%;
    padding: 0;
    /* border: 2px solid rgb(255, 0, 0); */
}

.navlinks-2 li {
    display: inline-block;
    margin: 10px 4px;
    cursor: pointer;
    text-decoration: none;
    /* border: 2px solid whitesmoke; */
}

.navlinks-2 li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    border: 2px solid transparent;
}

/* .navlinks-2 li a:hover {
    color: rgb(255, 255, 255);
    background-color: #04AA6D;
    font-weight: bold;
} */

.Nav-icons {
    float: right;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    padding: 24px 0px;
    font-size: 20px;
    /* border: 2px solid whitesmoke; */
}

.Nav-icons .fa-solid {
    padding: 0px 7px;
}

.Nav-icons .fa-solid:hover {
    color: #04AA6D;
}



.navlinks-2 .btn-transparent {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    background-color: transparent;
}

.navlinks-2 .btn-transparent:hover {
    color: rgb(255, 255, 255);
    background-color: #04AA6D;
    font-weight: bold;
}



.navlinks-2 .btn-Solid {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    background-color: #ffc0c7;
}

.navlinks-2 .btn-Solid:hover {
    color: rgb(255, 255, 255);
    background-color: #04AA6D;
    font-weight: bold;
}

.navlinks-2 .btn-Green-dark {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    background-color: #04aa6d;
}

.navlinks-2 .btn-Green-dark:hover {
    color: rgb(255, 255, 255);
    background-color: #049962;
    font-weight: bold;
}





#text-Box {
    background-color: #282a35;
    /* width: 100%; */
    /* height: 90vh; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    align-items: center;
    align-content: center;
}

#text-Box h1 {
    font-size: 70px;
    font-weight: bolder;
    width: 90%;
    color: white;
    margin: 7% auto 2% auto;
    /* border: 2px solid white; */
}

#text-Box p {
    font-size: 22px;
    font-weight: bolder;
    width: 90%;
    color: #ffc0c7;
    margin: auto;
    margin: 2% auto 2% auto;
    /* border: 2px solid white; */
    letter-spacing: 1px;
}

.Search-bar {
    margin: 2% auto 2% auto;
    width: 90%;
    margin: auto;
    /* border: 2px solid white; */
}

.First-Button {
    margin: auto;
    max-width: 480px;
}


form.First-Button button {
    padding: 16.8px;
    border: 0px;
    /* margin-top: 270px; */
    float: left;
    width: 20%;
    font-size: 15px;
    font-weight: 600;
    background: #04aa6d;
    color: white;
    border-left: none;
    cursor: pointer;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

form.First-Button button:hover {
    background: #049962;
}

form.First-Button::after {
    content: "";
    clear: both;
    display: table;

}

form.First-Button input[type=text] {
    border: 2px solid white;
    /* margin-top: 270px; */
    border: 0px;
    padding: 15px;
    font-size: 15px;
    font-weight: 600;
    float: left;
    width: 80%;
    background: white;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

.Text-Box-Link {
    font-size: 22px;
    width: 90%;
    color: white;
    margin: auto;
    margin: 2% auto 7% auto;
    font-weight: bolder;
    /* border: 2px solid white; */
    letter-spacing: 1px;
}


a.First-imageLink:link {
    color: white;
}

a.First-imageLink:visited {
    color: white;
}

a.First-imageLink:hover {
    color: #049962;
}

#check {
    display: none;
}

.menu-btn {
    font-size: 25px;
    color: white;
    float: right;
    line-height: 90px;
    margin-right: 40px;
    display: none;
    cursor: pointer;
}


#FirstImage-Container {
    background-color: #d9eee1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3% 0px;
}

#Main-Container {
    margin: auto;
    width: 90%;
    /* border: 1px solid rgb(255, 0, 0); */
    align-content: center;
    align-items: center;
    text-align: center;
    padding: 2%;
    display: flex;
    /* gap: 5rem; */
    justify-content: space-between;
}

.First-Conatiner {
    width: 100%;
    margin: auto;
    margin-right: 2%;
    /* border: 1px solid rgb(25, 0, 255); */
}

.Second-Conatiner {
    width: 100%;
    margin: auto;
    margin-left: 2%;
    border: 1px solid transparent;
    box-shadow: 0.5px 0.5px 4px 0.5px #888888;
    border-radius: 5px;
    background-color: #e7e9eb;

}

.First-Conatiner h1 {
    margin: 2% auto;
    width: 90%;
    font-size: 80px;
    font-size: bolder;
    /* border: 1px solid rgb(255, 0, 0); */
}

.First-Conatiner p {
    font-size: 18px;
    font-weight: bold;
    width: 90%;
    margin: 5% auto;
    /* border: 1px solid rgb(255, 0, 0); */
}


.btn-Green-dark {
    width: 90%;
    margin: 3% auto;
    /* border: 1px solid rgb(255, 0, 0); */
    /* display: block; */

}

.btn-Green-dark a {
    letter-spacing: 0.6px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    background-color: #04aa6d;
    border-radius: 30px;
    padding: 10px 0px;
    display: inline-block;
    width: 50%;
}

.btn-Green-dark a:hover {
    color: rgb(255, 255, 255);
    background-color: #049962;
    font-weight: bold;
}



.btn-Yellow-dark {
    width: 90%;
    margin: 3% auto;
    /* border: 1px solid rgb(255, 0, 0); */
}

.btn-Yellow-dark a {
    letter-spacing: 0.6px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    border-radius: 30px;
    background-color: #fff4a3;
    padding: 10px 0px;
    display: inline-block;
    width: 50%;
}

.btn-Yellow-dark a:hover {
    color: rgb(0, 0, 0);
    background-color: #fdf08a;
    font-weight: bold;
}

.btn-Black-dark {
    width: 90%;
    margin: 3% auto;
    /* border: 1px solid rgb(255, 0, 0); */
}

.btn-Black-dark a {
    letter-spacing: 0.6px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    border-radius: 30px;
    background-color: #282a35;
    padding: 10px 0px;
    display: inline-block;
    width: 50%;
}

.btn-Black-dark a:hover {
    color: rgb(255, 255, 255);
    background-color: #060708;
    font-weight: bold;
}


.btn-Pink-dark {
    width: 90%;
    margin: 3% auto 5% auto;
    /* border: 1px solid rgb(255, 0, 0); */
}

.btn-Pink-dark a {
    letter-spacing: 0.6px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    border-radius: 30px;
    background-color: #ffc0c7;
    padding: 10px 0px;
    display: inline-block;
    width: 50%;
}

.btn-Pink-dark a:hover {
    color: rgb(0, 0, 0);
    background-color: #ffb3bb;
    font-weight: bold;
}








.Second-Conatiner-Image {
    width: 90%;
    /* height: 250px; */
    margin: auto;
    margin: 0% 5%;
    /* border: 2px solid red; */
    background-color: white;
}

.Second-Conatiner-Image img {
    /* border: 1px solid red; */
    width: 45%;
    /* height: 250px; */
    /* margin: 2% auto; */
    /* border: 1px solid rgb(25, 0, 255); */
}

.Second-Conatiner h1 {
    margin: 4% 5%;
    width: 90%;
    font-size: 30px;
    font-size: bolder;
    text-align: left;
    /* border: 1px solid rgb(255, 0, 0); */
}

.Second-Conatiner .btn-Green-dark {
    margin: 4% 5%;
    text-align: left;
}




#SecondImage-Container {
    background-color: #282a35;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3% 0px;
}

.SecondImage-Conatiner {
    box-shadow: 0.5px 0.5px 4px 0.5px #888888;
    border-radius: 5px;
    width: 100%;
    padding: 2% 0px;
    margin: auto;
    margin-right: 2%;
    /* border: 1px solid rgb(25, 0, 255); */
}

.SecondImage-Conatiner h1 {
    margin: auto;
    margin-bottom: 4%;
    width: 90%;
    font-size: 50px;
    font-size: bolder;
    /* border: 1px solid rgb(255, 0, 0); */
}

.SecondImage-Conatiner p {
    font-size: 18px;
    font-weight: bold;
    width: 90%;
    margin: auto;
    margin-bottom: 8%;
    /* border: 1px solid rgb(255, 0, 0); */
}

.SecondImage-Second-Conatiner {


    box-shadow: 0.5px 0.5px 4px 0.5px #888888;
    border-radius: 5px;
    width: 100%;
    padding: 2% 0px;
    margin: auto;
    margin-left: 2%;
}

.SecondImage-Second-Conatiner h1 {
    margin: auto;
    margin-bottom: 4%;
    width: 90%;
    font-size: 50px;
    font-size: bolder;
    /* border: 1px solid rgb(255, 0, 0); */
}

.SecondImage-Second-Conatiner p {
    font-size: 18px;
    font-weight: bold;
    width: 90%;
    margin: auto;
    margin-bottom: 8%;
    /* border: 1px solid rgb(255, 0, 0); */
}





.Boton-Pink {
    display: flex;
    width: 100%;
    /* margin: auto; */
    /* margin: 2%; */
    /* margin-right: 2%; */
    border-radius: 5px;
    /* background-color: #282a35; */
    /* border: 2px solid rgb(0, 0, 0); */
}

.Boton-Pink a {
    letter-spacing: 0.6px;
    color: black;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    background-color: #e9b1b8;
    border-radius: 5px;
    padding: 37px 0px;
    display: inline-block;
    width: 100%;

}

.Boton-Pink a:hover {
    background-color: #ffc0c7;
}



.Boton-Yellow {
    /* margin: auto; */
    display: flex;
    width: 100%;
    border-radius: 5px;
    /* background-color: #282a35; */
    /* margin: 2%; */
    /* margin-left: 2%; */
    /* border: 2px solid rgb(0, 0, 0); */
}

.Boton-Yellow a {
    letter-spacing: 0.6px;
    color: black;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    background-color: #e9df98;
    border-radius: 5px;
    padding: 37px 0px;
    display: inline-block;
    width: 100%;
}

.Boton-Yellow a:hover {
    background-color: #fff4a3;
}



.Boton-White {
    /* background-color: #282a35; */
    display: flex;
    width: 100%;
    /* margin: 2%; */
    border-radius: 5px;
    /* border: 2px solid rgb(0, 0, 0); */
}

.Boton-White a {
    letter-spacing: 0.6px;
    color: black;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    background-color: #ded8d8;
    border-radius: 5px;
    padding: 37px 0px;
    display: inline-block;
    width: 100%;
}

.Boton-White a:hover {
    background-color: #f3ecea;
}



.Boton-Swans {
    /* background-color: #282a35; */
    display: flex;
    width: 100%;
    /* margin: 2%; */
    border-radius: 5px;
    /* border: 2px solid rgb(0, 0, 0); */
}

.Boton-Swans a {
    letter-spacing: 0.6px;
    color: black;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    background-color: #c7dacf;
    border-radius: 5px;
    padding: 37px 0px;
    display: inline-block;
    width: 100%;
}

.Boton-Swans a:hover {
    background-color: #d9eee1;
}



.Boton-Blue {
    /* background-color: #282a35; */
    display: flex;
    width: 100%;
    /* margin: auto;
    margin-bottom: 0%; */
    border-radius: 5px;
    /* border: 2px solid rgb(0, 0, 0); */
}

.Boton-Blue a {
    letter-spacing: 0.6px;
    color: black;
    text-decoration: none;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    background-color: #8bc3c4;
    border-radius: 5px;
    padding: 37px 0px;
    display: inline-block;
    width: 100%;
}

.Boton-Blue a:hover {
    background-color: #96d4d4;
}




#ThirdImage-Container {


    background-color: #282a35e8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3% 0px;
}

#Scroll-Image {
    background: url(/images/ScrolImage.jpg);
    background-position: center;
    background-size: cover;

    background-repeat: no-repeat;
    background-attachment: fixed;
}

#FourthImage-Container {

    background-color: #f3ecea;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3% 0px;
}

#FourthImage-Container img:hover {
    cursor: pointer;
    opacity: 0.8;
}

#FifthImage-Container {
    background-color: #96d4d4;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3% 0px;
}

#FifthImage-Container h1 {
    font-family: "FreckleFace";
}

#FifthImage-Container p {
    font-family: "FreckleFace";
}

#FifthImage-Container img:hover {
    cursor: pointer;
    opacity: 0.8;
}

#SixImage-Container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3% 0px;
}

#Scroll-Image-2 {
    background: url(/images/w3codes.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#SeventhImage-Container {
    background-color: #e7e9eb;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3% 0px;
}

#EightImage-Container {
    background-color: #e7e9eb;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3% 0px;
}

.cls-1 {
    fill: #04aa6b;
}

.cls-2 {
    font-size: 26px;
}

.cls-2,
.cls-3,
.cls-4 {
    fill: #fff;
}

.cls-2,
.cls-3 {
    font-family: "SourceSansPro";
    font-weight: bold;
}

.cls-3 {
    font-size: 22px;
}


#NinthImage-Container {
    background-color: #282a35;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3% 0px;
}

#TengthImage-Container {
    background-color: #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3% 0px;
}














#TengthImage-Container .mySlides {
    display: none
}

#TengthImage-Container img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev {
    left: 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    font-family: "SourceSansPro";
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 0px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    font-family: "SourceSansPro";
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}




.Last-Boton-White {
    background-color: #282a35;
    display: flex;
    width: 40%;
    margin: 2%;
    border-radius: 5px;
    /* border: 2px solid rgb(0, 0, 0); */
}

.Last-Boton-White a {
    margin-right: 2%;
    letter-spacing: 0.6px;
    color: black;
    text-decoration: none;
    background-color: white;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    padding: 13px 0px;
    display: inline-block;
    width: 100%;
}

.Last-Boton-White a:hover {
    background-color: rgb(247, 247, 247);
}

.Last-Boton-Green {
    /* background-color: #282a35; */
    display: flex;
    margin: 2%;
    text-align: center;
    /* border: 2px solid rgb(0, 0, 0); */
}

.Last-Boton-Green a {
    margin: 0px 3%;
    letter-spacing: 0.6px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

.Last-Boton-Green a:hover {
    color: #04aa6d;
}

a.terms-LINK:link {
    color: white;
    text-decoration: underline;
}

a.terms-LINK:hover {
    color: #049962;
}

a.terms-LINK,
::after {
    color: #ffffff;
}

.thumbs-icon {
    color: white;
    border: none;
    font-size: 44px;
    cursor: pointer;
}

.thumbs-icon:hover {
    color: rgba(255, 255, 255, 0.637);
}


.Facebook-icon .fab {

    color: white;
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.Facebook-icon .fab:hover {
    background-color: white;
    color: black;
}






#Tutorials {
    /* background-color: rgb(1, 219, 103); */
    width: 100%;
    color: white;
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    overflow-x: hidden;
    /* top: 100%; */
    background-color: #282a35;
    /* display: none; */
    /* padding: 50px 20px; */
    /* background-color: #f9f9f9; */
    /* left: 0; */
    /* z-index: 1; */
}

#Tutorials .fa {
    color: white;
    text-align: center;
    width: 5%;
    padding: 20px 30px;
    font-size: 30px;
    /* border: 3px solid rgb(255, 238, 0); */

}

#Tutorials .fa:hover {
    background-color: #ffffff;
    color: black;
    cursor: pointer;
}

#Tutorials h2 {
    margin: auto;
    width: 78%;
    text-align: left;
    font-size: 42px;
    color: #fff4a3;
    /* padding: 0px 25px; */
    /* height: 0px; */
    /* background: #282a35; */
}

.Menu {
    width: 79%;
    display: flex;
    margin: auto;
    /* border: 3px solid rgb(255, 238, 0); */
    /* text-align: center;
    align-items: center;
    align-content: center; */
    /* height: 700px; */
}

.tabcontent {}

.column {

    color: #fdf4a3;
    width: 100%;
    /* float: left; */
    /* width: 25%; */
    /* padding: 50px 20px; */
    /* background-color: #282a35; */
    /* height: 420px; */
    /* border: 2px solid rgb(255, 0, 0); */
    /* margin: 0% 0% 0% 0%; */
    padding: 20px 0px 50px 0px;
}

.column h3 {
    text-align: left;
    width: 90%;
    margin: auto;
    font-size: 24px;
    padding: 20px 0px;
}

.column a {
    float: none;
    color: white;
    /* padding: 6px 1px; */
    text-decoration: none;
    display: block;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 0.5px;
    text-align: left;
    /* position: static; */
    /* margin-left: 10px; */
    width: 90%;
    margin: auto;
    padding: 5px 0px;
    /* border: 2px solid rgb(0, 217, 255); */
}


.column a:hover {
    background-color: #ddd;
    color: black;
    /* font-family: "Source Sans Pro"; */
    /* font-weight: 600; */
    /* height: 33px; */
    /* width: 100%; */
    /* font-size: 16px;
    font-weight: bold; */
    /* border: 2px solid rgb(251, 255, 0); */
}


#Refrences {
    /* background-color: rgb(1, 219, 103); */
    width: 100%;
    color: white;
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    overflow-x: hidden;
    background-color: #282a35;

}

#Refrences .fa {
    color: white;
    text-align: center;
    width: 5%;
    padding: 20px 30px;
    font-size: 30px;
}

#Refrences .fa:hover {
    background-color: #ffffff;
    color: black;
    cursor: pointer;
}

#Refrences h2 {
    margin: auto;
    width: 78%;
    text-align: left;
    font-size: 42px;
    color: #fff4a3;
}



#Exercises {
    /* background-color: rgb(1, 219, 103); */
    width: 100%;
    color: white;
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    overflow-x: hidden;
    background-color: #282a35;

}

#Exercises .fa {
    color: white;
    text-align: center;
    width: 5%;
    padding: 20px 30px;
    font-size: 30px;
}

#Exercises .fa:hover {
    background-color: #ffffff;
    color: black;
    cursor: pointer;
}

#Exercises h2 {
    margin: auto;
    width: 78%;
    text-align: left;
    font-size: 42px;
    color: #fff4a3;
}




.Code-Editor-Image {
    width: 70%;
    margin: auto;
}

.btn {
    text-align: left;
    width: 70%;
    margin: auto;
    /* border: 1px solid red; */
}

.btn .btn-Green-dark {

    margin-left: 0px;
}

.btn .btn-yellow-dark {
    margin-left: 0px;
}



.W3-logo {
    margin: auto;
    width: 270px;
}


.Slider {
    position: relative;
    width: 1000px;
    margin: auto;
}




















@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

@media (max-width: 1200px) {
    .navlinks {
        /* top: 15px; */
        margin: auto;
        position: absolute;
        width: 100%;
        /* left: 0; */
        text-align: center;
        transition: 0.7s;
        top: -100%;
        background: #222831;
        display: block;
        /* height: 50%; */

        background-color: white;
        align-items: center;

    }

    .navlinks li {
        width: 100%;
        margin: auto;
        margin-bottom: 4%;
    }

    .navlinks li a {
        border-radius: 5px;
        text-align: left;
        width: 100%;
        padding: 10px 40%;
        font-size: 25px;


    }

    .navlinks li a:visited {
        background-color: rgb(239, 239, 239);
    }

    .Nav-icons {
        display: none;
    }

    .navlinks-2 {
        display: none;
    }

    .main-nav .fa {
        width: 90%;
        margin: auto;
        text-align: right;
        padding: 20px 0%;
        display: block;
        color: rgb(0, 0, 0);
        font-size: 30px;
        cursor: pointer;
    }

    .navlinks li {
        /* display: block; */
    }

    .navlinks li a {}


    /* 
    #check:checked~.navlinks {
        right: 0;
    } */
}

@media (max-width: 990px) {


    #Main-Container {
        display: block;
    }


    .First-Conatiner {

        margin-right: 0%;
        margin-top: 2%;
    }

    .Second-Conatiner {

        margin-left: 0%;
        margin-top: 2%;

    }

    .SecondImage-Conatiner {
        margin-right: 0%;
        margin-top: 0%;
    }


    .SecondImage-Second-Conatiner {
        margin-left: 0%;
        margin-top: 5%;
    }

    .Boton-Pink {
        margin-bottom: 4%;
        margin-right: 0%;
    }

    .Boton-Yellow {
        margin-bottom: 4%;
        margin-left: 0%;
    }

    .Boton-White {
        margin-bottom: 4%;
        margin-right: 0%;
    }

    .Boton-Swans {
        margin-bottom: 4%;
        margin-left: 0%;
    }

    .Boton-Blue {
        margin-bottom: 4%;
        margin-right: 0%;
    }

    .Gap-Between {
        margin-right: 0%;
    }

    .Gap-Between-2 {

        margin-top: 0%;
        margin-left: 0%;
    }






    .Code-Editor-Image {
        width: 90%;
    }

    .btn {
        width: 90%;
    }

    .Slider {
        width: 80%;

    }

    .Last-Boton-White {

        width: 100%;

    }



    .Menu {
        display: block;


    }
}


@media (max-width: 490px) {



    .Gap-Between {
        display: block;
        margin-right: 0%;
    }

    .Gap-Between-2 {




        display: block;
        margin-top: 0%;
        margin-left: 0%;
    }




    .SecondImage-Second-Conatiner h1 {
        font-size: 30px;
    }

    #text-Box h1 {
        font-size: 50px;
    }

    .First-Conatiner h1 {
        font-size: 60px;

    }

    .SecondImage-Conatiner h1 {
        font-size: 30px;

    }

    .SecondImage-Second-Conatiner h1 {
        font-size: 30px;

    }

.W3-logo {
    margin: auto;
    width: 170px;
}

    .btn-Green-dark a {
        width: 100%;
    }

    .btn-Pink-dark a {
        width: 100%;
    }

    .btn-Yellow-dark a {
        width: 100%;
    }


    .btn-Black-dark a {
        width: 100%;
    }

.SecondImage-Conatiner h1{
    margin: 2% auto 5% auto;
}

.SecondImage-Conatiner .btn-Black-dark {
    margin: 15% auto 2% auto;
}

.SecondImage-Second-Conatiner h1 {
    margin: 2% auto 5% auto;
}

.SecondImage-Second-Conatiner .btn-Black-dark {
    margin: 15% auto 2% auto;
}

.Second-Conatiner h1{
    margin: 10% auto 10% auto;
}

.Second-Conatiner-Image img{
    height: 140px;
}
.Second-Conatiner .btn-Green-dark{
    margin: 7% auto 7% auto;
}

.First-Conatiner h1{
    font-size:50px;
}


}